body {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 23px;
  line-height: 2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  color: orange;
}

p {
  color : white;
}

img{
     display: block;
     width: 50%;
     margin: auto;;
}