<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1 {
  text-align: center;
}

p {
  text-align: center;
}
</style>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body style="background-color:gray;">
    <h1>Tiffany Swaby</h1>
    <p>What is interesting about Tiffany? May be not a lot but here are a few things about me. <br>
    I like web designing, coding and graphic designing. I recently started skateboarding and it has been a great hobby so far!<br> I have learned how to do ollies, shuv-its, pop shuvits but my goal for the next coming months is to learn how to do a proper kickflip. </p>
</body>
</html>